* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(pexels-paul-ijsendoorn-33041.jpg) no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
  color: #b7b7b7;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 5rem;
  height: 19em;
  width: 19em;
  background-color: rgb(43, 50, 48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.container button{
  border: none;
  background: rgb(243, 208, 103);
  color: rgb(35, 35, 35);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.btn {
  display: flex;
  gap: 20px;
}

.btn button{
  border: none;
  background: rgb(243, 208, 103);
  color: rgb(35, 35, 35);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}