* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  background: #69585F;
  display: flex;
  justify-content: center;
}

.container{
  margin-top: 10rem;
  height: 20rem;
  width: 20rem;
  background: #EF959D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h2{
  margin-bottom: 1rem;
}

.btn button{
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.btn img{
  height: 2.5rem;
}
.container button{
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: 1rem;
  cursor: pointer;
}
.container .reset-btn{
  border-radius: 1rem;
  font-weight: 600;
  font-size: .75rem;
}
